@mixin fontFace($family, $src, $style: normal, $weight: normal) {

	/*
	 * Including a font with different weights:
	 * @include fontFace('FontName', '../fonts/regular', normal, normal);
	 * @include fontFace('FontName', '../fonts/light', normal, 'light');
	 * @include fontFace('FontName', '../fonts/bold', normal, 'bold');
	 */

	@font-face {
		font-family: $family;
		src: url('#{$src}.woff2') format('woff2'), url('#{$src}.woff') format('woff');
		font-style: $style;
		font-weight: $weight;
	}

}