// Typography Mixins ------------------------------------------------------ //
@mixin headlines() {
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		@content
	}
}

@mixin text() {
	p,
	address,
	ol,
	ul,
	label {
		@content
	}
}

// Headlines ------------------------------------------------------ //
@include headlines() {
	margin: 0;
	color: color('text');
	font-weight: bold;
	text-rendering: optimizeLegibility;
}

h1, .h1 {
	margin-bottom: .67em;
	font-size: 2em;
}

h2, .h2 {
	margin-bottom: .75em;
	font-size: 1.5em;
}

h3, .h3 {
	margin-bottom: .83em;
	font-size: 1.17em;
}

h4, .h4 {
	margin-bottom: 1em;
	font-size: 1em;
}

h5, .h5 {
	margin-bottom: 1.5em;
	font-size: .83em;
	text-transform: uppercase;
}

h6, .h6 {
	margin-bottom: 1.67em;
	font-size: .75em;
	text-transform: uppercase;
}

// Text ----------------------------------------------------------- //
@include text() {
	margin: 0;
	margin-bottom: 1em;
	color: color('text');
	font-style: normal;
}

b,
strong { font-weight: bold; }

i,
em { font-style: italic; }

// Links ---------------------------------------------------------- //
a {
	$c: color('text');

	color: $c;

	&:hover { color: lighten($c, 5%); }

	&:active { color: darken($c, 5%); }
}

// Horizontal Lines ----------------------------------------------- //
hr {
	margin: 0;
	margin-bottom: 1em;
	height: 1px;
	background: color('text');
	border: 0;
}