body {

	display: block;
	min-height: 100%;
	background: white;
	font: $fontStack;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	@media (max-width: $bpS) {
		font-size: 14px;
	}

}