<%- include('assets/includes/layout/_start') %>

<div class="row">
	<div class="column">

		<h1>Headline H1</h1>
		<h2>Headline H2</h2>
		<h3>Headline H3</h3>
		<h4>Headline H4</h4>
		<h5>Headline H5</h5>
		<h6>Headline H6</h6>

		<hr>

		<p class="c-light">Lorem <i>ipsum</i> dolor <b>sit</b> amet.</p>
		<p class="c-dark">Lorem <i>ipsum</i> dolor <b>sit</b> amet.</p>
		<p class="c-green">Lorem <i>ipsum</i> dolor <b>sit</b> amet.</p>
		<p class="c-purple">Lorem <i>ipsum</i> dolor <b>sit</b> amet.</p>
		<p>Lorem <i>ipsum</i> dolor <b>sit</b> amet.</p>

		<hr>

		<a href="#" class="btn btn--light">Test</a>
		<a href="#" class="btn btn--dark">Test</a>
		<a href="#" class="btn btn--green">Test</a>
		<a href="#" class="btn btn--purple">Test</a>
		<a href="#" class="btn btn--text">Test</a>
		<button class="btn btn--text">Test</button>

		<hr>

		<ul>
			<li>List One</li>
			<li>List Two</li>
			<li>List Three</li>
		</ul>

		<ol>
			<li>List One</li>
			<li>List Two</li>
			<li>List Three</li>
		</ol>

		<hr>

		<div class="align-left">Left</div>
		<div class="align-center">Center</div>
		<div class="align-right">Right</div>

		<hr>

		<table>
			<tbody>
				<tr>
					<td>Column</td>
					<td>Column</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

<%- include('assets/includes/layout/_end') %>