<%- include('assets/includes/layout/_start') %>

<div class="row">
	<div class="column">

		<h1>Headline H1</h1>
		<h2>Headline H2</h2>
		<h3>Headline H3</h3>
		<h4>Headline H4</h4>
		<h5>Headline H5</h5>
		<h6>Headline H6</h6>

		<hr>

		<p class="c-font c-font--light">Lorem ipsum dolor sit amet.</p>
		<p class="c-font c-font--dark">Lorem ipsum dolor sit amet.</p>
		<p class="c-font c-font--green">Lorem ipsum dolor sit amet.</p>
		<p class="c-font c-font--purple">Lorem ipsum dolor sit amet.</p>
		<p>Lorem ipsum dolor sit amet.</p>

		<hr>

		<a href="#" class="btn btn--light">Test</a>
		<a href="#" class="btn btn--dark">Test</a>
		<a href="#" class="btn btn--green">Test</a>
		<a href="#" class="btn btn--purple">Test</a>
		<a href="#" class="btn btn--text">Test</a>
		<button href="#" class="btn btn--text">Test</button>

		<hr>

		<ul>
			<li>List One</li>
			<li>List Two</li>
			<li>List Three</li>
		</ul>

		<ol>
			<li>List One</li>
			<li>List Two</li>
			<li>List Three</li>
		</ol>

	</div>
</div>

<%- include('assets/includes/layout/_end') %>