.spacing {

	// Top --------------------------------------------------------------- //
	&-top,
	&-top-l { margin-top: 1em; }
	&-top-m { margin-top: .5em }
	&-top-s { margin-top: .25em; }

	// Right -------------------------------------------------------------- //
	&-right,
	&-right-l { margin-right: 1em; }
	&-right-m { margin-right: .5em }
	&-right-s { margin-right: .25em; }

	// Bottom ------------------------------------------------------------- //
	&-bottom,
	&-bottom-l { margin-bottom: 1em; }
	&-bottom-m { margin-bottom: .5em }
	&-bottom-s { margin-bottom: .25em; }

	// Left --------------------------------------------------------------- //
	&-left,
	&-left-l { margin-left: 1em; }
	&-left-m { margin-left: .5em }
	&-left-s { margin-left: .25em; }

}