.spacing {

	// Top --------------------------------------------------------------- //
	&-top,
	&-top-l { margin-top: $spacing; }
	&-top-m { margin-top: $spacing/2; }
	&-top-s { margin-top: $spacing/4; }

	// Right -------------------------------------------------------------- //
	&-right,
	&-right-l { margin-right: $spacing; }
	&-right-m { margin-right: $spacing/2; }
	&-right-s { margin-right: $spacing/4; }

	// Bottom ------------------------------------------------------------- //
	&-bottom,
	&-bottom-l { margin-bottom: $spacing; }
	&-bottom-m { margin-bottom: $spacing/2; }
	&-bottom-s { margin-bottom: $spacing/4; }

	// Left --------------------------------------------------------------- //
	&-left,
	&-left-l { margin-left: $spacing; }
	&-left-m { margin-left: $spacing/2; }
	&-left-s { margin-left: $spacing/4; }

}