.spacing {

	// Top --------------------------------------------------------------- //
	&-top-l { margin-top: 2em; }
	&-top-m { margin-top: 1em }
	&-top-s { margin-top: .5em; }

	// Right -------------------------------------------------------------- //
	&-right-l { margin-right: 2em; }
	&-right-m { margin-right: 1em }
	&-right-s { margin-right: .5em; }

	// Bottom ------------------------------------------------------------- //
	&-bottom-l { margin-bottom: 2em; }
	&-bottom-m { margin-bottom: 1em }
	&-bottom-s { margin-bottom: .5em; }

	// Left --------------------------------------------------------------- //
	&-left-l { margin-left: 2em; }
	&-left-m { margin-left: 1em }
	&-left-s { margin-left: .5em; }

}